<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIMS.styles.css" asp-append-version="true" />


    <link href="~/uiasset/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/uiasset/css/sb-admin-2.min.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>
<body>
@*     <div class="container">
        <main role="main" class="pb-3">
            
        </main>
    </div> *@
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

   
    <!-- Bootstrap core JavaScript-->
    <script src="~/uiasset/vendor/jquery/jquery.min.js"></script>
    <script src="~/uiasset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/uiasset/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/uiasset/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/uiasset/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/uiasset/js/demo/chart-area-demo.js"></script>
    <script src="~/uiasset/js/demo/chart-pie-demo.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>